@using Testify.Client.Shared.Components
@using Testify.Client.Shared.Services
@inherits LayoutComponentBase

<div class="min-h-screen flex flex-col bg-slate-50/70">
	<NavMenu />
	<main class="flex-1">
		@Body
	</main>
	<Footer />
</div> 



