@using Markdig

<div class="prose max-w-none text-slate-600 @CssClass">
    @((MarkupString)_renderedHtml)
</div>

@code {
    [Parameter]
    public string Content { get; set; } = string.Empty;

    [Parameter]
    public string CssClass { get; set; } = string.Empty;

    private string _renderedHtml = string.Empty;

    protected override void OnParametersSet()
    {
        if (!string.IsNullOrEmpty(Content))
        {
            _renderedHtml = Markdown.ToHtml(Content);
        }
        else
        {
            _renderedHtml = "<em>No content</em>";
        }
    }
}
