@using Testify.Client.Shared.Components
@inherits LayoutComponentBase

<div class="min-h-screen bg-slate-50/70">
    <AdminNavMenu />

    <div class="h-20"></div>

    <main>
        @Body
    </main>
</div>