@* @using Testify.Client.Shared.Components
@inherits LayoutComponentBase

<h3>PMLayout</h3>
<PMProjectNavbar/>

@code {

} *@


@using Testify.Client.Shared.Components
@inherits LayoutComponentBase

<div>
	<NavMenu/>
	<PMProjectNavbar />
	<main>
		@Body
	</main>
	<Footer />
</div>
